.App {
  text-align: center;
  width: 20%;
  margin: auto;
  margin-top: 80px;
}
.numbers{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 15px;
}
.reset{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 15px;
}
button{
  border-radius: 5px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.input{
  padding: 10px;
  margin-top: 20px;
}
.main-container{
 margin-top: 20px;
}
@media screen and (max-width: 600px){
  .App{
    width: 100%
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
